<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        img{
            height: 100px;
            widows: 100px;
        }
    </style>
</head>
<body>
    <form action="../post_update_photos/{{photos.id}}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <img src="..{{photos.photo}}">
        <input type="file" name="photo"/>
        <input type="text" name="label" value="{{photos.label}}"/>
        <textarea name="caption">{{photos.caption}}</textarea>
        <input type="submit" value="update photo"/>
    </form>
</body>
</html>