<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Photo Sharing Platform</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/jpg" href="css/logo.css">
	<link rel= "stylesheet" type= "text/css" href="css/logo1.css">
	<div id="search-bar">
          <input type="search" placeholder="Search">
          <span><i class="fa fa-search"></i></span>
        </div>
    <style type="text/css">
    #search-bar{
      margin-top: -10px;
    }
    </style>
</head>
<body>
  <header>
        <a href="home.html"><img src="image/logo.jpg"></a>
          <h1>Photo Sharing Platform</h1>
      </header>
          	<nav>
		<ul>
  <li><a href="home.html"><img src="image/home.png" height="42" width="42"></a></li>
  <li><a href="#"><img src="image/add.png" height="42" width="42"></a></li>
  <li><a href="profile.html"><img src="image/ppr.jpg" height="42" width="42"></a></li>
	</ul>
</nav>
<div id="settings">
<a href="settings.html"><img src="image/settings.png" height="42" width="42"></a>
</div>
</body>
</html>